@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Seja bem vindo ao sistema de gestao de Emprestimos Bancarios.</p>
<p>Com esta aplicacao voce podera acelerar ainda mais a integracao do seu negocio ao mundo globalizado.</p>
